<%= form_for @submission, html: {data: {ajax: false}} do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.select "player_id", options_from_collection_for_select(Player.all, "id", "name") %>
  </div>
  <div class="field">
    <%= f.label :topic_id %><br>
    <%= f.select "topic_id", options_from_collection_for_select(Topic.all, "id", "name") %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
