<h1>Listing submissions</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Topic</th>
      <th></th>
      <th></th>
      <th></th>
      <th>submitted at</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.player.name %></td>
        <td><%= truncate(submission.topic.name) %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= submission.created_at.strftime("%B %d, %Y") %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
