.row
  .col-xs-12
    .points-text
      %h3
        = image_tag('http://i5.photobucket.com/albums/y160/HostileFire/Blog/super_mario_8-bit_star.jpg')
        = @player.score
- if @prev_submission.present?
  .row.alert.alert-success
    .col-xs-3
      .player-image
        = image_tag(@prev_submission.player.try(:facebook_image))
    .col-xs-9
      .score-text
        = @prev_submission.player.try(:name)
        received
        = @prev_vote.score
        points for your
        vote! You got 1 point for just for voting.

.row
  .col-xs-12
    .submission-image
      .word-label
        = @submission.topic.name
      %img.img-responsive{src: @submission.image}
.row
  = form_tag votes_path(@vote) do
    = hidden_field_tag 'fbuid', @player.fbuid
    = hidden_field_tag 'vote[submission_id]', @submission.id
    .action-btn.col-xs-6
      %button#yes{type: 'submit', 'data-role' => 'button', 'data-icon' => 'check', name: 'vote[positive]', value: 'true'}
        Great
    .action-btn.col-xs-6
      %button#no{type: 'submit', 'data-role' => 'button', 'data-icon' => 'delete', name: 'vote[positive]', value: 'false'}
        Stinky
