#points-text-wrapper
  .row
    .col-xs-12
      %a{href: leaderboards_path}
        NEW! Leaderboard
  #points-text-1
    .row
      .col-xs-12
        %h3
          = image_tag('super_mario_8-bit_star.jpg')
          = @player.score.values.sum
  #points-text-2
    .row
      .col-xs-12
        %h4
          = image_tag('super_mario_8-bit_star.jpg')
          = @player.score.values.sum
          pts
  #points-text-2-fb
    .row
      .col-xs-12
        %h4
          = image_tag(@player.facebook_image)
          = @player.name
          = image_tag('super_mario_8-bit_star.jpg')
          = @player.score.values.sum
  #points-text-3
    .row
      .col-xs-12
        %h3
          = image_tag('super_mario_8-bit_star.jpg')
          = @player.score[:votes_cast] + @player.score[:submissions]
          = image_tag('Mario-Mushroom-Pattern.jpg')
          = @player.score[:votes_received]
  #points-text-4
    .row
      .col-xs-12
        %h4
          = image_tag('super_mario_8-bit_star.jpg')
          = @player.score[:votes_cast]
          = image_tag('Mario-Mushroom-Pattern.jpg')
          = @player.score[:submissions]
          = image_tag('retro_coin.png')
          = @player.score[:votes_received]
  #points-text-5
    .row
      .col-xs-12
        %h4
          = image_tag('super_mario_8-bit_star.jpg')
          = @player.score[:votes_cast]
          votes
          = image_tag('Mario-Mushroom-Pattern.jpg')
          = @player.score[:submissions] / 10
          submissions
          = image_tag('retro_coin.png')
          = @player.score[:votes_received]
          upvotes
  #points-text-6
    .row
      .col-xs-12
        %h4
          = @player.score[:submissions] / 10
          ! / 10 submissions to next level
        .progress{style: "width: 30%"}
          .progress-bar{style: "width: #{@player.score[:submissions] % 100}%"}

- if @prev_submission.present?
  .row.alert.alert-success
    .col-xs-3
      .player-image
        = image_tag(@prev_submission.player.try(:facebook_image))
    .col-xs-9
      .score-text
        = @prev_submission.player.try(:name)
        received
        = @prev_vote.score
        points for your
        vote! You got 1 point for just for voting.

.row
  .col-xs-12
    .submission-image
      .word-label
        = @submission.topic.name
      %img.img-responsive{src: @submission.image}
.row
  = form_tag votes_path(@vote) do
    = hidden_field_tag 'fbuid', @player.fbuid
    = hidden_field_tag 'vote[submission_id]', @submission.id
    .action-btn.col-xs-6
      %button#yes{type: 'submit', 'data-role' => 'button', 'data-icon' => 'check', name: 'vote[positive]', value: 'true'}
        Sweet
    .action-btn.col-xs-6
      %button#no{type: 'submit', 'data-role' => 'button', 'data-icon' => 'delete', name: 'vote[positive]', value: 'false'}
        Stinky

